.text{
    position: absolute;
    width: 15.7vw;
    height: 6vh;
    left: 0px;
    top: -2.3vh;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 390;
    font-size: 27px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    place-content: center;
    color: #640064;
    cursor: pointer;
    /* border-style: solid; */
}
.btn{
    position: absolute;
    width: 16vw;
    height: 5vh;
    right: 12vh;
    top: 5vh;

    background: #FFFFFF;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}