/* -----------------------------------------*/
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}
input[type=file] {
    display: none;
}
.file{
    position: relative;
    padding: 6px 20px;
    box-sizing: border-box;
    border: none;
    background-color: #640064;
    color: white;
    border-radius: 2vh;
    cursor: pointer;
}
.file:hover{
    background-color: #330033;
    color: white;
}
input[type=Submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #640064;
    color: white;
    border-radius: 2vh;
    margin-top:  15vh;
    font-size: 40px;
    cursor: pointer;
}
input[type=Submit]:hover{
    background-color: #640064;
    color: rgb(255, 255, 255);
}
/* ------------------------------DIVIDE 1 */
.form__field1 {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    color: #000;
}
.form__field1:required:valid ~ .form__label1 {
    left: -6vw;
}
.form__label1 {
    position: relative;
    top: -3vh;
    left: 0;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(66, 66, 66);
}
.form__field1:focus ~ .form__label1{
    left: -6vw;
    transition: 0.5s;
    margin-bottom: green;
}
.form__field1:focus {
    border-width: 3px;
    border-image: linear-gradient(to right, #640064, #180118);
    border-image-slice: 1;
}
.form__field1:required, .form__field1:invalid {
    box-shadow: none;
}
/* ------------------------------DIVIDE 2 */
.form__field2:focus {
    border-width: 3px;
    border-image: linear-gradient(to right, #640064, #180118);
    border-image-slice: 1;
}
.form__field2 {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    color: #000;
}
.form__field2:required:valid ~ .form__label2 {
    left: -6vw;
}
.form__label2 {
    position: relative;
    top: -3vh;
    left: 0;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(66, 66, 66);
}
.form__field2:focus ~ .form__label2{
    left: -6vw;
    transition: 0.5s;
}
.form__field2:required, .form__field2:invalid {
    box-shadow: none;
}
/* ------------------------------DIVIDE 3 */
.form__field3:focus {
    border-width: 3px;
    border-image: linear-gradient(to right, #640064, #180118);
    border-image-slice: 1;
}
.form__field3 {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    color: #000;
}
.form__field3:required:valid ~ .form__label3 {
    left: -6vw;
}
.form__label3 {
    position: relative;
    top: -3vh;
    left: 0;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(66, 66, 66);
}
.form__field3:focus ~ .form__label3{
    left: -6vw;
    transition: 0.5s;
}
.form__field3:required, .form__field3:invalid {
    box-shadow: none;
}
/* ------------------------------DIVIDE 4 */
.form__field4:focus {
    border-width: 3px;
    border-image: linear-gradient(to right, #640064, #180118);
    border-image-slice: 1;
}
.form__field4 {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    color: #000;
}
.form__field4:required:valid ~ .form__label4 {
    left: -6vw;
}
.form__label4 {
    position: relative;
    top: -3vh;
    left: 0;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(66, 66, 66);
}
.form__field4:focus ~ .form__label4{
    left: -6vw;
    transition: 0.5s;
}
.form__field4:required, .form__field4:invalid {
    box-shadow: none;
}
/* ------------------------------DIVIDE 5 */
.form__field5:focus {
    border-width: 3px;
    border-image: linear-gradient(to right, #640064, #180118);
    border-image-slice: 1;
}
.form__field5 {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    color: #000;
}
.form__field5:required:valid ~ .form__label5 {
    left: -6vw;
}
.form__label5 {
    position: relative;
    top: -3vh;
    left: 0;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(66, 66, 66);
}
.form__field5:focus ~ .form__label5{
    left: -6vw;
    transition: 0.5s;
}
.form__field5:required, .form__field5:invalid {
    box-shadow: none;
}
/* ------------------------------DIVIDE 6 */
.form__field6:focus {
    border-width: 3px;
    border-image: linear-gradient(to right, #640064, #180118);
    border-image-slice: 1;
}
.form__field6 {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    color: #000;
}
.form__field6:required:valid ~ .form__label6 {
    left: -6vw;
}
.form__label6 {
    position: relative;
    top: -3vh;
    left: 0;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(66, 66, 66);
}
.form__field6:focus ~ .form__label6{
    left: -6vw;
    transition: 0.5s;
}
.form__field6:required, .form__field6:invalid {
    box-shadow: none;
}
/* ------------------------------DIVIDE 7 */
.form__field7:focus {
    border-width: 3px;
    border-image: linear-gradient(to right, #640064, #180118);
    border-image-slice: 1;
}
.form__field7 {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    color: #000;
}
.form__field7:required:valid ~ .form__label7 {
    left: -6vw;
}
.form__label7 {
    position: relative;
    top: -3vh;
    left: 0;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(66, 66, 66);
}
.form__field7:focus ~ .form__label7{
    left: -6vw;
    transition: 0.5s;
}
.form__field7:required, .form__field7:invalid {
    box-shadow: none;
}
/* ------------------------------DIVIDE 8 */
.form__field8:focus {
    border-width: 3px;
    border-image: linear-gradient(to right, #640064, #180118);
    border-image-slice: 1;
}
.form__field8 {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    color: #000;
}
.form__field8:required:valid ~ .form__label8 {
    left: -6vw;
}
.form__label8 {
    position: relative;
    top: -3vh;
    left: 0;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(66, 66, 66);
}
.form__field8:focus ~ .form__label8{
    transition: 0.5s;
    left: -6vw;
}
.form__field8:required, .form__field8:invalid {
    box-shadow: none;
}
/* ------------------------------DIVIDE 9 */
.form__field15:focus {
    border-width: 3px;
    border-image: linear-gradient(to right, #640064, #180118);
    border-image-slice: 1;
}
.form__field15 {
    font-family: inherit;
    width: 100%;
    margin-bottom: 100px;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    color: #000;
    resize: none;
    
}
.form__field15:required:valid ~ .form__label15 {
    left: -6vw;
    top: -25vh;
}
.form__label15 {
    position: relative;
    top: -14vh;
    left: 0;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(66, 66, 66);
}
.form__field15:focus ~ .form__label15{
    left: -6vw;
    transition: 0.5s;
    top: -25vh;
}
.form__field15:required, .form__field15:invalid {
    box-shadow: none;
}


#split_left {
    position: fixed;
    width: 50%;
    left: 0;
    height: 100%;
    top : 200px;
    height: 77%;
    COLOR : rgb(0, 0, 0);
}
  
#split_right {
    position: fixed;
    width: 50%;
    right: 0;
    top : 23%;
    height: 77%;
}


.left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.buyandcell{
    position: relative;
    left: 24%;
    text-align: center;
}
.centered {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.div-upload{
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    background-color: #ffffff;
}
.upload-image{
    margin-top: 2px;
    height: 90%;
    align-self:flex-center;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.411);
}
.iconphoto{
    position: absolute;
    margin-top: 15vh;
    width: 100%;
    height: 10vh;  
}

.upload_tbn{
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: -30px;
}

.space{
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: -30px;
    height: 60px;
}

/* .btn_sub_div{
    margin-top: 20px;
    padding: 8px 2px;
    background-color: #640064;
    border-radius:  20px;
    border: none;
    text-decoration: none;
    color: white;
    align-items: center;
    width: 10vw;
    height: 15vh;
    
} */
/* .btn_sub_div:hover{
    background-color: #360136;
    cursor: pointer;
} */

.btn_sub{
    position: relative;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-decoration: none;
    padding-left: 18vw;
    padding-right: 18vw;
}