@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Saira+Stencil+One&display=swap');


.CarAd{
    width: 98.8vw;
    height: 85vh;
    margin: 0;
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    bottom: 1vh;
    padding-bottom: 1vh;
}


.car-name{
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: normal;
    margin: 0;
    padding-top: 6px;
}

.car-info{
    width: 100%;
    padding-left: 10px;
    font-family: 'Roboto Mono';
    font-weight: normal;
    height: 35%;
    font-size: 16px;
    line-height: 14px;

}

.agent-info{
    background-color: #DDDDDD;
    border-radius: 20px;
    padding-left: 14px;
    line-height: 10px;
    font-family: 'Roboto Mono';
    font-weight: 300;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.144);
}
.car-description{
    width: 100%;
    font-family: 'Roboto Mono';
    font-weight: 300;
    padding-left: 10px;
    line-height: 33px;
    vertical-align: middle;
}

.carAd-image{
    width: 100%;
    height: 300px;
    align-self: flex-center;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.411);
}

.stand-image{
    position: inherit;
    width: 94%;
    height: 280px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.411);
}

.left-container{
    position: relative;
    top: 8vh;
    width: 580px;
    height: 650px;
    border-radius: 2rem;
    background-color: #faefff;
    box-shadow: 5px 5px 10px #0000001a;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
}
.middle-container{
    position: relative;
    top: 8vh;
    width: 480px;
    height: 650px;
    border-radius: 2rem;
    background-color: #faefff;
    box-shadow: 5px 5px 10px #0000001a;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
}

.right-container{
    position: relative;
    top: 8vh;
    width: 480px;
    height: 650px;
    border-radius: 2rem;
    background-color: #faefff;
    box-shadow: 5px 5px 10px #0000001a;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
}

.backButton{
    position: absolute;
    top: 0vh;
    left: 2vw;
    background:transparent;
    border: none;
    width: 80px;
    height: 80px;
    font-size: 36px;
    color: #640064;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    margin: 0;
    padding: 0;
}

.backButton:hover{
    cursor: pointer;
    background:transparent;
    border: none;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}