@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Saira+Stencil+One&display=swap');


.CarAd-bg{
    width: 98.8vw;
    height: 100vh;
    margin: 0;
    background-color: #ebebeb;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow-x: hidden;
}

.reviewsButton{
    position: relative;  
    width: 26%;
    left:22vw;
    bottom:9vh;
    background-color: #4FBFB9;
    border-radius: 14px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.211);
    padding: 10px 20px;
    border:none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.reviewsButton:hover{
    transform:scale(1.05);
    transition: all 0.3s ease-in-out;
}

.popupBtn{
    position: relative;
    top: 2px;
    margin-left: 10px;
}

.reviewPopup{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}


.car-name{
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: normal;
}

.car-info{
    width: 100%;
    padding-left: 10px;
    font-family: 'Roboto Mono';
    font-weight: normal;

}
.car-description{
    width: 100%;
    font-family: 'Roboto Mono';
    font-weight: 300;
    padding-left: 10px;
    line-height: 43px;
    vertical-align: middle;
}

.carAd-image{
    width: 100%;
    height: 360px;
    align-self: flex-center;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.411);
}

.stand-image{
    position: inherit;
    width: 94%;
    height: 280px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.411);
}

.left-container{
    width: 580px;
    height: 750px;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 5px 5px 10px #0000001a;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 20px;
}
.middle-container{
    width: 480px;
    height: 750px;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 5px 5px 10px #0000001a;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 20px;
}

.right-container{
    width: 480px;
    height: 750px;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 5px 5px 10px #0000001a;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 20px;
    margin-right: 40px;
}

.backButton{
    position: absolute;
    top: 2vh;
    left: 2vw;
    background:transparent;
    border: none;
    width: 80px;
    height: 80px;
    font-size: 36px;
    color: #4FBFB9;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.backButton:hover{
    cursor: pointer;
    background:transparent;
    border: none;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}